/*!CK:3890181284!*//*1447232321,*/

.sp_6gcrIsyvTwE{background-image:url(/rsrc.php/v2/yt/r/n7kJr3S3I2_.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_6gcrIsyvTwE.sx_f91e1f{background-position:0 0}.sp_6gcrIsyvTwE.sx_c7a261{background-position:0 -17px}

#bootloader_1ImcQ { height: 42px; }
.bootloader_1ImcQ { display:block !important; }